.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  float: left;
  margin-left: 30px;
}


a {
	text-decoration: none;
	color: #111111;
}

button {
  margin: 10;
}

button:hover {
	text-decoration: underline;
}

.vote-button {
  float: right;
  border: 0px;
  box-shadow: none;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  margin-right: 5px;
}

.submit-button {
  border: 0px;
  box-shadow: none;
  border-radius: 0px;
  color: black;
  font-size: 14px;
  margin-right: 5px;
  background-color: white;
  font-weight: bold;
}

.postBox {
  margin: 20px;
  padding: 10px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #888888;
  max-width: 500px;
  min-width: 400px;
}

.text-input {
  min-width: 200px;
  margin: 5px;
  padding: 10px;

}