.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  float: left;
  margin-left: 30px;
}


a {
	text-decoration: none;
	color: #111111;
}

button {
  margin: 10;
}

button:hover {
	text-decoration: underline;
}

.vote-button {
  float: right;
  border: 0px;
  box-shadow: none;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  margin-right: 5px;
}

.submit-button {
  border: 1px solid;
  box-shadow: none;
  border-radius: 0px;
  color: black;
  font-size: 14px;
  margin-right: 5px;
  background-color: white;
  font-weight: bold;
}

.post-button {
  border: 1px solid;
  box-shadow: none;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  margin-left: 190px;
  margin-top: 18px;
  background-color: black;
  font-weight: bold;
  float: left;
}

.postBox {
  margin: 20px;
  padding: 10px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #888888;
  width: 400px;
}

.text-input {
  width: 300px;
  margin: 3px;
  margin-left: 10px;
  padding: 10px;

}

.textarea-input {
  width: 300px;
  margin: 3px;
  margin-left: 10px;
  padding: 10px;
  resize: none;
  border-color: #dddddd;
  border-width: 1px;
  height: 80px;
  vertical-align: middle;
}

.edit-label {
  display: inline-block;
  width: 50px;
  text-align: right;
}